:root {
    --color-p: #FFC2F9;
    --color-icon: #E5FC31;
    --color-nav: #E6B5EA;
  }
  
  * {
    box-sizing: border-box
  }
  
  h1 {
    color: white;
    font-size: 3rem;
    font-family: Georama;
  }
  
  h2 {
    font-family: IBM plex mono;
    font-size: 20px;
  }
  
  p {
    white-space: pre-line;
    font-size: 13px;
    font-family: IBM plex mono;
    color: var(--color-p);
  }
  
  i {
    color: var(--color-icon);
  }

  body {
    margin: auto 0;
    padding: 0;
    background: radial-gradient(circle at 50% 10%,#4C008A 17%,#1A0136 56%, #1A0156 93%);
  }
  
  #welcome-section {
    
    margin: 0px 100px;
    margin-top: 150px;
    margin-bottom: 250px;
    display: flex;
    
  }
  
  .intro-text {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  #welcome-section h1 {
    margin: 20px 50px;
    width: 80%;
    text-align: center;
  }
  .intro-text > div {
    width: 50%;
    padding: 0 10px;
  }
  .intro-text div > p {
    margin: 5;
    white-space: normal;
    text-align: center;
    
  }
  
  
  .intro-text > i {
    font-size: 300px;
    display: flex;
    width: 40%;
  }
  
  .intro-text div form{
    color: white;
    font-family: Georama, sans-serif;
    width: 50%;
    min-width: 280px;
    margin: auto;
    margin-top: 100px;
    
  }
  
  
  form input {
    border-radius: 6px;
    height: 8%;
    color: white;
    text-align: center;
  }
  
  form section > label {
    font-weight: bold;
  }
  
  .form-icons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
  }
  .form-icons input {
    background-color: #34A126;
    border: 2px solid #1DF700;
    height: 36px;
    box-shadow: 0px 0px 5px #1DF700;
  }
  
  .form-icons a{
    display: block;
    
    text-align: center;
    height: 47px;
  }
  .form-icons a p {
    font-size: 10px;
  }
  
  
  #navbar {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #101010;
    width: 80%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
  }
  
  .navsec a,.navsec i{
    text-decoration: none;
    color: var(--color-nav);
    margin: 0 10px;
    text-align: center;
  }
  
  .nav-profile a{
    text-shadow: 0px 0px 15px #E400C6, 0px 0px 15px #E400C6, 0px 0px 15px #E400C6;
    font-size: 20px;
  }
  
  i {
    font-size: 26px;
  }
  
  
  #projects {
    border: 1px solid white;
    background-color: #5C46FF;
    padding: 10px 20px 50px;
    
  }
  #projects h1 {
    margin: 0;
    font-weight: normal;
    font-size: 3rem;
  }
  #projects h2 {
    margin: 0;
    font-size: 16px;
  }
  #projects h3 {
    margin: 0;
  }
  
  .project-content-title {
    display: flex;
    align-items: center;
    column-gap: 10px;
    
  }
  
  .project-tile {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    overflow: auto;
    margin-top: 50px;
  }
  .project-tile .proj {
    background-color: white;
    min-width: 300px;
    width: 300px;
    border-radius: 10px;
    display: block;
    padding: 0 5px;
  }
  .proj p {
    color:black;
    font-family: Jura;
    font-weight: bold;
  }
  
  .proj img {
    width: 100%;
    height: 200px;
  }
  
  
  .proj a {
    display: flex;
    background-color: black;
    color: white;
    width: 130px;
    height: 40px;
    margin: 0 auto;
    border-radius: 16px;
    align-items: center;
    column-gap: 5px;
    padding: 5px;
  }
  .proj a i {
    color: white;
  }
  @media (max-width: 500px) {
    #welcome-section > i {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
      height: 1px;
      width: 1px;
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
      padding: 0;
      margin: -1px;
    }
    nav,#projects {
      overflow: hidden;
    }
  }

  /*Hability thenical*/

  #container-skills {
    color: white;
    padding: 0 100px;
    text-align: center;
    width: 80%;
    margin: 100px auto;
    
  }
  #container-skills div:first-child{
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: center;
  }

  .skill > div{
    justify-content: space-evenly;
    display: flex;
    column-gap: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  .front, .language, .sql, .gen {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
div[class="front tool1"] i {
    color: orange;
    
  }
div[class="front tool2"] i {
    color: rgb(77, 77, 247);
}
div[class="front tool3"] i {
    color: greenyellow;
}
div[class="front tool4"] i {
    color: lightblue;
}
div[class="language tool2"] i {
    color: orange;
}
div[class="gen tool1"] i {
    color: orangered;
}
div[class="gen tool2"] i {
    color: white;
}